*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #565656;

}

@media (min-width: 200px) {
.message {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #0e72ed;
    width: 70%;   
    text-align: center; 
    margin: auto;
    margin-bottom: 10px;

}
/*monitor*/
.container{
    position: relative;
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
}
/*lista de coders*/
.listCoders{
    position: absolute;
    top: 30%;
    left: 55%;
    text-align: left;
    transform: translate(-50%, -50%);
}

}



