*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:576px) {
    .container{
        position: relative;
        display: inline-block;
        text-align: center;
        justify-content: center;
    }

    .erased{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        display:list-item;
        color: white;
        list-style-position: inherit;
        list-style: none;
       
        font-size: small;
    }

    #footerZoom2 {
        display: none;
    }    
}

@media (min-width:576px) and (max-width:800px) {
    .container{
        position: relative;
        display: inline-block;
        text-align: center;    }

    .erased{
        position:absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
        font-size: 30%;
        list-style: none;
        list-style-position: inherit;
  
    }

    #footerZoom2 {
        display: none;
    }
}