.pie-pagina{
    width: 100%;
    background-color: #D6D6D6f0;
  }
  .pie-pagina .grupo-1{
    width:100%;
    max-width:1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:50px;
    padding:45px 0px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: black;
    margin-bottom: 15px;
    font-size: 20px;
     
  }
  .pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px; 
  color: black;
  margin-right: 10px ;
  background-color: white;
  text-align: center;
  transition: all 300ms ease;
  }
  
  .pie-pagina .grupo-1 .red-social a:hover{
    color: #0E72ED;
  }
  
  .pie-pagina .grupo-2 {
  background-color: #D6D6D6f0;
  text-align: end;
  padding: 25px 20px;
  font-size: 20px;
  
  }
  @media scree and (max-width: 800px){
    .pie-pagina .grupo-1{
        width:100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:50px;
        padding:45px 0px;
    }
  }
