/*header*/

header{
    display: flex ;
    height:  70px;
    justify-content:space-between;
    align-items: center;
    background-color: #ffffff;
}
.log img{
    height: 75px;
}

#window {
    width: 20%;
}

h4 {
    display: flex;
    align-items: center;
}


/*upper*/

@media (min-width: 800px) {

    section {
        display: flex;
    }


    .boxHostName {
        padding: 30px;
        background-color: #D6D6D6;
        border-radius: 5%;
        max-width: 60%;
        margin: 5%;
    }

    .containerUpper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        max-width: 100%;
    }


    .button1 {
        background-color: #0E72ED;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: aliceblue;
}

    #host {
        background-color: #D6D6D6;
        display: flex;
        justify-content: center;
    }

}

/*bottom*/

@media (min-width:800px) {
    .message {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        background-color: #0e72ed;
        width: 70%;   
        text-align: center; 
        margin: auto;
        margin-bottom: 10px;
        font-size:100%;

    }

    /*monitor*/
    .container{
        position: relative;
        display: flex;
        color: white;
        text-align: center;
        justify-content: center;
    }

    /*lista de coders*/
    .listCoders{
        position: absolute;
        top: 10%;
        left: 45%;
        text-align: left;
        transform: translate(-50%, -50%);
        font-size: 100%;
    }

    #footerZoom {
        display: none;
    }

    #footerZoom2 {
        max-width: 100%;
        z-index: index inherit;
        position: absolute;
    }

    section {
        display: flex;
        justify-content: space-around;
    }
}

/*footer*/

footer{
    display:flex;
    justify-content: space-between;    
    align-items: center;
    margin: 50px;
    background-color: white;
}

.group1 .socialMedia a{
    justify-content: flex-end;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px; 
    color: black;
    margin-right: 5px ;
    background-color: white;
    text-align: center;
    transition: all 300ms ease;
}

.group1 .socialMedia a:hover{
    color: #0E72ED;
}