*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #565656;
}

@media (min-width: 200px) {
    .boxHostName {
        padding: 30px;
        background-color: #D6D6D6;
        border-radius: 5%;
        max-width: 60%;
        margin: 5%;
    }

    .containerUpper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        max-width: 100%;
    }


    #button1 {
        background-color: #0E72ED    ;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: aliceblue;
}

    #host {
        background-color: #D6D6D6;
        display: flex;
        justify-content: center;
    }
}

