*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section {
    max-width: 100%;
    background-color: #565656;
}

#headerZoom {
    width: 100%;
    display: flex;
    align-items:flex-end;
}

input {
    color: white;
    max-width: 100%;
}

#test {
    width: 100%;
}


.participants {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 550px;
}

/* .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 550px;
} */

.col {
    display: flex;
    padding: 30px;
    background-color: #D6D6D6;
    max-width: 150px;
    min-width: 100px;
    width: 60px;
    height: 40px;
    font-size: smaller;
    border: 2px solid #000000;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#footerZoom {
    padding-top: 5%;
    width: 100%;
}
/* 
figure {
    display: flex;
    align-items: baseline;
} */

@media (max-width: 576px) {

    .containerUpper {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .button1 {
        background-color: #0E72ED;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: aliceblue;
    }

    #host {
        background-color: #D6D6D6;
        display: flex;
        justify-content: center;
    }

    .boxHostName {
        padding: 30px;
        background-color: #D6D6D6;
        border-radius: 5%;
        max-width: 60%;
        margin: 5%;
        padding-top: 5%;
    }
}

@media (min-width: 576px) and (max-width: 800px) {
    .boxHostName {
        padding: 30px;
        background-color: #D6D6D6;
        border-radius: 5%;
        max-width: 60%;
        margin: 5%;
    }

    .containerUpper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }


    .button1 {
        background-color: #0E72ED;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        color: aliceblue;
}

    #host {
        background-color: #D6D6D6;
        display: flex;
        justify-content: center;
    }
}